{% extends 'mvt/base.html' %}

{% block title_pagina %}
<title>Ver autos</title>
{% endblock title_pagina %}

{% block body %} 
<a class='navbar-brand' href={% url 'crear_auto' %}>Crear Auto</a>

<h1>Listado de Autos:</h1>

<p>
  {% if object_list %}

    {% for auto in object_list %}
    <li>
     
      <a href={% url 'ver_auto' auto.id %}>{{auto}}</a>
      <a href={% url 'editar_auto' auto.id %}>Editar</a>
      <a href={% url 'eliminar_auto' auto.id %}>Eliminar</a>

    </li>
    <br>
    {% endfor %}

  {% else %}
  <P>No se encontraron resultados.</P>
  {% endif %}
  

</p>


{% endblock body %}
 