{% extends 'mvt/base.html' %}
{% block body %} 
<a class='navbar-brand' href={% url 'crear_persona' %}>Crear Conductor</a>

<h1>Listado de Conductores Famosos:</h1>

<form action={% url 'ver_persona' %} method="GET">
  
      {{formulario}}
  
  <button>Buscar</button>
</form>
<p>
  {% for persona in personas %}
  <li>Nombre: {{persona.nombre}} {{persona.apellido}}</li>
  <li>Numero ID: {{persona.numero_id}}</li>
  <li>Fecha de Ingreso: {{persona.fecha_ingreso}}</li>
  <br>
  {% endfor %}

</p>


{% endblock body %}
 
