<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVT: de Lusarreta, Castells, Bergallo</title>
</head>
<body>
  <h1>Listado de Personas:</h1>
    {% for persona in personas %}
    <Apellido:>Nombre: {{persona.nombre}} {{persona.apellido}}</li>
    <li>Numero ID: {{persona.numero_id}}</li>
    <li>Fecha de Ingreso: {{persona.fecha_ingreso}}</li>
    {% endfor %}
</body>
</html>
